In [13]:
import pandas as pd

df = pd.read_csv('crunchbase-investments.csv',nrows=5000, encoding = 'latin1')

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 20 columns):
company_permalink         5000 non-null object
company_name              5000 non-null object
company_category_code     4948 non-null object
company_country_code      5000 non-null object
company_state_code        4947 non-null object
company_region            5000 non-null object
company_city              4936 non-null object
investor_permalink        5000 non-null object
investor_name             5000 non-null object
investor_category_code    2443 non-null object
investor_country_code     4222 non-null object
investor_state_code       3629 non-null object
investor_region           5000 non-null object
investor_city             4100 non-null object
funding_round_type        5000 non-null object
funded_at                 5000 non-null object
funded_month              5000 non-null object
funded_quarter            5000 non-null object
funded_year               5000 non-null int64
raised_amount_usd         4347 non-null float64
dtypes: float64(1), int64(1), object(18)
memory usage: 781.3+ KB

Missing values in company_state_code, company_city, investor_category_code, investor_country_code, investor_state_code, investor_city, raised_amount_usd

In [20]:
df.columns

Index(['company_permalink', 'company_name', 'company_category_code',
       'company_country_code', 'company_state_code', 'company_region',
       'company_city', 'investor_permalink', 'investor_name',
       'investor_category_code', 'investor_country_code',
       'investor_state_code', 'investor_region', 'investor_city',
       'funding_round_type', 'funded_at', 'funded_month', 'funded_quarter',
       'funded_year', 'raised_amount_usd'],
      dtype='object')

In [23]:
df.memory_usage(deep=True)

Index                         80
company_permalink         383495
company_name              339562
company_category_code     323227
company_country_code      300000
company_state_code        293569
company_region            323122
company_city              330557
investor_permalink        425849
investor_name             357211
investor_category_code    239464
investor_country_code     278216
investor_state_code       257983
investor_region           321792
investor_city             300464
funding_round_type        320619
funded_at                 335000
funded_month              320000
funded_quarter            320000
funded_year                40000
raised_amount_usd          40000
dtype: int64

In [24]:
df.memory_usage(deep=True).sum()/

5850210

In [31]:
memory_footprint = []

chunk_iter = pd.read_csv('crunchbase-investments.csv',chunksize=5000,encoding='latin1')

for chunk in chunk_iter:
    memory_footprint.append(chunk.memory_usage(deep=True).sum()/(1024*1024))

In [34]:
sum(memory_footprint)

56.988484382629395

In [35]:
df.head()

,company_permalink,company_name,company_category_code,company_country_code,company_state_code,company_region,company_city,investor_permalink,investor_name,investor_category_code,investor_country_code,investor_state_code,investor_region,investor_city,funding_round_type,funded_at,funded_month,funded_quarter,funded_year,raised_amount_usd
0,/company/advercar,AdverCar,advertising,USA,CA,SF Bay,San Francisco,/company/1-800-flowers-com,1-800-FLOWERS.COM,NaN,USA,NY,New York,New York,series-a,2012-10-30,2012-10,2012-Q4,2012,2000000.0
1,/company/launchgram,LaunchGram,news,USA,CA,SF Bay,Mountain View,/company/10xelerator,10Xelerator,finance,USA,OH,Columbus,Columbus,other,2012-01-23,2012-01,2012-Q1,2012,20000.0
2,/company/utap,uTaP,messaging,USA,NaN,United States - Other,NaN,/company/10xelerator,10Xelerator,finance,USA,OH,Columbus,Columbus,other,2012-01-01,2012-01,2012-Q1,2012,20000.0
3,/company/zoopshop,ZoopShop,software,USA,OH,Columbus,columbus,/company/10xelerator,10Xelerator,finance,USA,OH,Columbus,Columbus,angel,2012-02-15,2012-02,2012-Q1,2012,20000.0
4,/company/efuneral,eFuneral,web,USA,OH,Cleveland,Cleveland,/company/10xelerator,10Xelerator,finance,USA,OH,Columbus,Columbus,other,2011-09-08,2011-09,2011-Q3,2011,20000.0

Unlikely to be useful for analysis - company_permalink, investor_permalink, funded month quarter and year are a bit redundant, could drop those and glean that information from funded at I think

In [36]:
df2 = df.drop(['company_permalink','investor_permalink'],axis=1)

In [38]:
df2.head()

,company_name,company_category_code,company_country_code,company_state_code,company_region,company_city,investor_name,investor_category_code,investor_country_code,investor_state_code,investor_region,investor_city,funding_round_type,funded_at,funded_month,funded_quarter,funded_year,raised_amount_usd
0,AdverCar,advertising,USA,CA,SF Bay,San Francisco,1-800-FLOWERS.COM,NaN,USA,NY,New York,New York,series-a,2012-10-30,2012-10,2012-Q4,2012,2000000.0
1,LaunchGram,news,USA,CA,SF Bay,Mountain View,10Xelerator,finance,USA,OH,Columbus,Columbus,other,2012-01-23,2012-01,2012-Q1,2012,20000.0
2,uTaP,messaging,USA,NaN,United States - Other,NaN,10Xelerator,finance,USA,OH,Columbus,Columbus,other,2012-01-01,2012-01,2012-Q1,2012,20000.0
3,ZoopShop,software,USA,OH,Columbus,columbus,10Xelerator,finance,USA,OH,Columbus,Columbus,angel,2012-02-15,2012-02,2012-Q1,2012,20000.0
4,eFuneral,web,USA,OH,Cleveland,Cleveland,10Xelerator,finance,USA,OH,Columbus,Columbus,other,2011-09-08,2011-09,2011-Q3,2011,20000.0

In [39]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 18 columns):
company_name              5000 non-null object
company_category_code     4948 non-null object
company_country_code      5000 non-null object
company_state_code        4947 non-null object
company_region            5000 non-null object
company_city              4936 non-null object
investor_name             5000 non-null object
investor_category_code    2443 non-null object
investor_country_code     4222 non-null object
investor_state_code       3629 non-null object
investor_region           5000 non-null object
investor_city             4100 non-null object
funding_round_type        5000 non-null object
funded_at                 5000 non-null object
funded_month              5000 non-null object
funded_quarter            5000 non-null object
funded_year               5000 non-null int64
raised_amount_usd         4347 non-null float64
dtypes: float64(1), int64(1), object(16)
memory usage: 703.2+ KB

Type conversion options - 

investigate raised_amount_usd missing values, these could be converted to int

funded at could be converted to datetime

category, country, state, region, city could all likely be converted to category type

In [75]:
def chunk_process(df):

    df = df.drop(['company_permalink','investor_permalink','investor_category_code'],axis=1)
    df['fund_year'], df['fund_month'], df['fund_day'] = df['funded_at'].str.rsplit('-',2).str
    df = df.drop(['funded_at','funded_quarter','funded_month','funded_year'],axis=1)

    obj_cols = df2.select_dtypes(include=['object'])

    for col in obj_cols.columns:

        num_unique = len(df[col].unique())
        num_total = len(df[col])
        if num_unique / num_total < 0.5:
            df[col] = df[col].astype('category')
            
    return df

In [43]:
df2.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 18 columns):
company_name              5000 non-null object
company_category_code     4948 non-null category
company_country_code      5000 non-null category
company_state_code        4947 non-null category
company_region            5000 non-null category
company_city              4936 non-null category
investor_name             5000 non-null category
investor_category_code    2443 non-null category
investor_country_code     4222 non-null category
investor_state_code       3629 non-null category
investor_region           5000 non-null category
investor_city             4100 non-null category
funding_round_type        5000 non-null category
funded_at                 5000 non-null category
funded_month              5000 non-null category
funded_quarter            5000 non-null category
funded_year               5000 non-null int64
raised_amount_usd         4347 non-null float64
dtypes: category(15), float64(1), int64(1), object(1)
memory usage: 1.0 MB

Potentially to gung-ho with category type conversion, want to strip a string now. Can I convert it back?

In [44]:
df2['funded_month'] = df2['funded_month'].astype('object')

In [60]:
df2['funded_month'] = df2['funded_month'].str.rsplit('-',1)[1]

In [67]:
df2['fund_year'], df2['fund_month'], df2['fund_day'] = df2['funded_at'].str.rsplit('-',2).str

In [69]:
df2 = df2.drop(['funded_at','funded_quarter','funded_month','funded_year'],axis=1)

In [73]:
df2.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 17 columns):
company_name              5000 non-null object
company_category_code     4948 non-null category
company_country_code      5000 non-null category
company_state_code        4947 non-null category
company_region            5000 non-null category
company_city              4936 non-null category
investor_name             5000 non-null category
investor_category_code    2443 non-null category
investor_country_code     4222 non-null category
investor_state_code       3629 non-null category
investor_region           5000 non-null category
investor_city             4100 non-null category
funding_round_type        5000 non-null category
raised_amount_usd         4347 non-null float64
fund_year                 5000 non-null category
fund_month                5000 non-null category
fund_day                  5000 non-null category
dtypes: category(15), float64(1), object(1)
memory usage: 782.8 KB

In [79]:
import sqlite3

conn = sqlite3.connect('test2.db')
cur = conn.cursor()

chunk_iter = pd.read_csv('crunchbase-investments.csv',chunksize=5000,encoding='latin1')

for chunk in chunk_iter:
    df = pd.DataFrame(chunk)
    df = chunk_process(df)
    df.to_sql("test_table",conn,if_exists='append',index=False)

In [80]:
results_df = pd.read_sql('PRAGMA table_info(test_table)',conn)
print(results_df)

    cid                   name  type  notnull dflt_value  pk
0     0           company_name  TEXT        0       None   0
1     1  company_category_code  TEXT        0       None   0
2     2   company_country_code  TEXT        0       None   0
3     3     company_state_code  TEXT        0       None   0
4     4         company_region  TEXT        0       None   0
5     5           company_city  TEXT        0       None   0
6     6          investor_name  TEXT        0       None   0
7     7  investor_country_code  TEXT        0       None   0
8     8    investor_state_code  TEXT        0       None   0
9     9        investor_region  TEXT        0       None   0
10   10          investor_city  TEXT        0       None   0
11   11     funding_round_type  TEXT        0       None   0
12   12      raised_amount_usd  REAL        0       None   0
13   13              fund_year  TEXT        0       None   0
14   14             fund_month  TEXT        0       None   0
15   15               fund_day  TEXT        0       None   0

What proportion of the total amount of funds did the top 10% raise? What about the top 1%? Compare these values to the proportions the bottom 10% and bottom 1% raised.

In [82]:
# Calculate the total amount of funds raised
# Order funds raised column descending - can you limit to a percentage instead of a number in an sql query

df = pd.read_sql('Select raised_amount_usd from test_table', conn)

In [86]:
# Drop nans or assign to 0?

total_funds = df.sum()

In [108]:
# how to filter by top 10%

len(df) - len(df)/100

52341.3

In [98]:
df = df.sort_values(by='raised_amount_usd',ascending=False).reset_index()

In [102]:
top10 = df.iloc[:5287].sum()

In [103]:
top1 = df.iloc[:529].sum()

In [104]:
top10 / total_funds

index                     NaN
raised_amount_usd    0.514357
dtype: float64

In [105]:
top1 / total_funds

index                     NaN
raised_amount_usd    0.198382
dtype: float64

The top 10% were responsible for 51% of all funds raised, while the top 1% were responsible for 20%

In [109]:
bottom10 = df.iloc[47583:].sum()
bottom1 = df.iloc[52342:].sum()

bottom10 / total_funds

index                     NaN
raised_amount_usd    0.000222
dtype: float64

In [110]:
bottom1 / total_funds

index                NaN
raised_amount_usd    0.0
dtype: float64

In [116]:
df = pd.read_sql('select company_category_code as company, raised_amount_usd as money from test_table', conn)

In [117]:
df.head()

       company      money
0  advertising  2000000.0
1         news    20000.0
2    messaging    20000.0
3     software    20000.0
4          web    20000.0

In [121]:
grouped = df.groupby('company')
comp_money = grouped.sum()
comp_money.sort_values(by='money',ascending=False).head()

                   money
company
biotech     1.103964e+11
software    7.308452e+10
mobile      6.477738e+10
cleantech   5.270523e+10
enterprise  4.586093e+10

In [123]:
df.company.value_counts().head()

software      7243
web           5015
biotech       4951
enterprise    4489
mobile        4067
Name: company, dtype: int64

In [124]:
df = pd.read_sql('select investor_name invest, raised_amount_usd money from test_table',conn)

In [125]:
grouped = df.groupby('invest')
i

                                         money
invest
Kleiner Perkins Caufield & Byers  1.121783e+10
New Enterprise Associates         9.692542e+09
Accel Partners                    6.472126e+09
Goldman Sachs                     6.375459e+09
Sequoia Capital                   6.039402e+09

In [137]:
df.groupby('invest').apply(lambda x: x['money'].sum()/len(x)).sort_values(ascending=False).head()

invest
Marlin Equity Partners    2.600000e+09
BrightHouse               2.350000e+09
GI Partners               1.050000e+09
Sprint Nextel             8.333333e+08
Siemens PLM Software      7.500000e+08
dtype: float64

In [138]:
df = pd.read_sql('select funding_round_type round from test_table',conn)

In [140]:
df['round'].value_counts()

series-a          13938
series-c+         10870
angel              8989
venture            8917
series-b           8794
other               964
private-equity      357
post-ipo             33
crowdfunding          5
Name: round, dtype: int64